@import url("https://fonts.googleapis.com/css2?family=Lora&family=Roboto:wght@300;700&display=swap");

@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/button.css");

body {
  	font-family: 'Lora', serif;
  	font-size: 18px;
}
h1 {
	font-family:'Roboto', sans-serif;
	font-size: 30px;
}

h2, h3 {
  	font-family: 'Roboto', sans-serif;
  	font-size: 28px;
  	font-weight: bold;
}
a {
  	text-decoration: none;
}